# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.eggs/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Pycharm project files
.idea/

# PyTest cache
.pytest_cache/

# Coverage
.coverage
coverage.xml

# Tox
.tox/
.cache/
.python-version

# VirtualEnv
.venv/

# Django
*.log
*.pot
local_settings.py
db.sqlite3
media

# Developers
*.sw*
.DS_Store

# Ignore Django migration files
**/migrations/

# Ignore Visual Studio Code settings
.vscode/

# example database